<div class="page-header">
  <%= link_to jobs_path, class: 'btn btn-default' do %>
    All Jobs
  <% end %>
  <%= link_to edit_job_path(@job), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show job</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @job.title %></dd>
  <dt>Link to apply:</dt>
  <dd><%= @job.link_to_apply %></dd>
  <dt>Description:</dt>
  <dd><%= @job.description %></dd>
  <dt>Company name:</dt>
  <dd><%= @job.company_name %></dd>
  <dt>Company website:</dt>
  <dd><%= @job.company_website %></dd>
  <dt>Company description:</dt>
  <dd><%= @job.company_description %></dd>
  <dt>Role type:</dt>
  <dd><%= @job.role_type %></dd>
  <dt>Compensation range:</dt>
  <dd><%= @job.compensation_range %></dd>
  <dt>Remote:</dt>
  <dd><%= @job.remote %></dd>
  <dt>Years of experience:</dt>
  <dd><%= @job.years_of_experience %></dd>
  <dt>User:</dt>
  <dd><%= @job.user %></dd>
</dl>
